@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fresh-green: #4ADE80;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-fresh-green: var(--fresh-green);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
